@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .elevation-1 {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  }

  .elevation-2 {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  }

  .elevation-3 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 4px 8px 3px rgba(0, 0, 0, 0.15);
  }

  .elevation-4 {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), 0 6px 10px 4px rgba(0, 0, 0, 0.15);
  }

  .elevation-5 {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 8px 12px 6px rgba(0, 0, 0, 0.15);
  }

  .material-symbols-outlined {
    transition: font-variation-settings 0.2s;
    font-variation-settings: 'FILL' var(--font-filled, 0), 'OPSZ' var(--font-opsz, 24);

    &.size-20 {
      --font-opsz: 20;
      font-size: 20px;
    }

    &.size-24 {
      --font-opsz: 24;
      font-size: 24px;
    }

    &.size-40 {
      --font-opsz: 40;
      font-size: 40px;
    }

    &.size-48 {
      --font-opsz: 48;
      font-size: 48px;
    }

    &.icon-outline {
      --font-filled: 0;
    }

    &.icon-filled {
      --font-filled: 1;
    }
  }
}
