@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .elevation-1 {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  }

  .elevation-2 {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  }

  .elevation-3 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 4px 8px 3px rgba(0, 0, 0, 0.15);
  }

  .elevation-4 {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), 0 6px 10px 4px rgba(0, 0, 0, 0.15);
  }

  .elevation-5 {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 8px 12px 6px rgba(0, 0, 0, 0.15);
  }

  .material-symbols-outlined.size-20 {
    font-size: 20px;
    font-variation-settings: 'OPSZ' 20;
  }
  .material-symbols-outlined.size-24 {
    font-size: 24px;
    font-variation-settings: 'OPSZ' 24;
  }
  .material-symbols-outlined.size-40 {
    font-size: 40px;
    font-variation-settings: 'OPSZ' 40;
  }
  .material-symbols-outlined.size-48 {
    font-size: 48px;
    font-variation-settings: 'OPSZ' 48;
  }
}
